html {
	scroll-behavior: smooth;
}

body {
	background: #f5eac7;
	font-family: 'Oswald', sans-serif;
	cursor: url(images/sword.svg), auto;
}

main,
section {
	position: relative;
	float: left;
	width: 100%;
}

h2 {
	font-family: 'Sigmar One', cursive;
	font-size: 45px;
	margin-bottom: 35px;
	text-shadow: 0px 3px 0px #b2a98f,
}

p {
	font-size: 21px;
	line-height: 25px
}

/* //////////// UTILITARIOS //////////// */

.p-1 {
 padding: 45px 0px;
}

.container {
	position: relative;
	max-width: 980px;
	width: 100%;
	margin: 0 auto;
	color: #08283d;
}

.flex {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.txt-center {
	text-align: center;
}

.txt-effect {
	text-shadow: 0px 3px 0px #b2a98f,
	0px 14px 10px rgba(0,0,0,0.15),
	0px 24px 2px rgba(0,0,0,0.1),
	0px 34px 30px rgba(0,0,0,0.1);
}

/* //////////////////////////////////////// */

.hero {
	position: relative;
	width: 100%;
	background: url(images/header_bg.png) center top no-repeat #f5eac7;
	background-size: cover;
	text-align: center;
}

.hero-txt {
	color: #f5eac7;
	font-family: 'Sigmar One', cursive;
	font-size: 55px;
	padding-top: 80px;
}

.btn {
	display: inline-block;
	margin-top: 63vh;
	text-decoration: none;
	color: #f5eac7;
	font-size: 33px;
	font-family: 'Sigmar One', cursive;
	padding: 0 30px;
	border-radius: 50px;
	background: rgb(8, 40, 61);
	line-height: 80px;
	-webkit-box-shadow: 0px 0px 25px -10px rgba(8, 40, 61, .6);
	-moz-box-shadow: 0px 0px 25px -10px rgba(8, 40, 61, .6);
	box-shadow: 0px 0px 25px -10px rgba(8, 40, 61, .6);
	text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
								 0px 34px 30px rgba(0,0,0,0.1);
}

.about {
	position: relative;
	margin-top: 30px;
}
.about img {
	width: 180%;
	padding-right: 150px;
	padding-top: 60px;
}

.title {
	width: 750px;
	margin: 0 auto 45px auto;
}

.gameplay {
	position: relative;
	padding-bottom: 45px;
}

.video {
	margin-bottom: 20px;
}

.features {
	position: relative;
	background: url(images/fondo_panda.jpg) 0 center no-repeat;
	background-size: cover;
}

.features img {
	position: absolute;
	bottom: -45px;
	right: 0;
}

.claro {
	color: #f5eac7;
	padding-left: 55px;
}

#download {
	position: relative;
	padding-top: 80px;
	z-index: 99;
}

#download img {
	margin: 40px 20px 0 20px;
	border-radius: 10px;
}

#download img:hover {
	transform: scale(1.02);
	box-shadow: 0px 0px 25px -10px rgba(8, 40, 61, .7);
}


.footer {
	height: 700px;
	width: 100%;
	background: url(images/footer_bg.png) center 0 no-repeat;
	background-size: cover;
	text-align: center;
	margin-top: -230px;
}