* {
	margin: 0;
	padding: 0;
}

body {
	background: #f5eac7;
	font-family: 'Oswald', sans-serif;
}

main,
section {
	position: relative;
	float: left;
	width: 100%;
}

header {
	min-height: 800px;
}

.hero {
	width: 100%;
	background: url(images/header_bg.png) center top no-repeat #f5eac7;
	background-size: cover;
	text-align: center;
}

.hero-txt {
	color: #f5eac7;
	font-family: 'Sigmar One', cursive;
	font-size: 45px;
	padding-top: 80px;
	text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
}

.btn {
	display: inline-block;
	margin-top: 66vh;
	text-decoration: none;
	color: #f5eac7;
	font-size: 40px;
	font-weight: bold;
	padding: 0 40px;
	border-radius: 50px;
	background: rgb(8, 40, 61);
	line-height: 60px;
	-webkit-box-shadow: 0px 0px 25px -10px rgba(8, 40, 61, .6);
	-moz-box-shadow: 0px 0px 25px -10px rgba(8, 40, 61, .6);
	box-shadow: 0px 0px 25px -10px rgba(8, 40, 61, .6);
}

.container {
	position: relative;
	max-width: 980px;
	width: 100%;
	margin: 0 auto;
	color: #08283d;
}

.flex {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.txt-center {
	text-align: center;
}

.about {
	margin-top: 0px;
}

.about p {
	width: 100%;
}

.about img {
	width: 200%;
}

.texto {
	margin-top: -90px;
	margin-left: 150px;
}

h2 {
	font-family: 'Sigmar One', cursive;
	font-size: 40px;
	margin-bottom: 40px;
}

.texto p {
	font-size: 22px;
	line-height: 25px;
}

.title {
	width: 750px;
	margin: 0 auto;
}

.claro {
color: #f5eac7;
width: 45%;
margin: 0 100px 0 50px;
}

.features {
	background: url(./fondo_panda.jpg) center no-repeat;
}

.container-2 {
	position: relative;
	max-width: 980px;
	width: 100%;
	margin: 0 auto;
}

.descarga2 {
	padding-top: 45px;	
}
.descarga2 img {
	padding: 0 10px;
}
.gameplay {
	padding-bottom: 45px;
}

.video {
	margin-bottom: 20px;
}